<h1><center>Welcome to fork and spoon<center></h1>

<center>
<%= image_tag ("logos/logo.png"), style: "background-color:black" %>
<center>

Coffee • Eatery • Bar

<h2>fork and spoon welcome intro</h2>

